@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #F3F4F6;
  --color-secondary-foreground: #1F2937;

  --color-accent: #F97316;
  --color-accent-foreground: #FFFFFF;

  --color-destructive: #EF4444;
  --color-destructive-foreground: #FFFFFF;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --color-card: #FFFFFF;
  --color-card-foreground: #374151;

  --color-popover: #FFFFFF;
  --color-popover-foreground: #374151;

  --color-border: #E5E7EB;
  --color-input: #E5E7EB;
  --color-ring: #1E40AF;

  --color-neutral: #374151;
  --color-background: #F9FAFB;
  --color-success: #10B981;

  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}